body{
    background: rgb(113,190,251);
background: linear-gradient(0deg, rgba(113,190,251,0.8603816526610644) 24%, rgba(231,0,255,0.7791491596638656) 100%);
}
.aboutd{
    background: rgb(113,190,251);
background: linear-gradient(0deg, rgba(113,190,251,0.8603816526610644) 24%, rgba(231,0,255,0.7791491596638656) 100%);
}